.tw-followList {
  background-color: #16181C;
  width: 350px;
  padding: 15px;
}
.tw-followCard {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tw-followCard-header {
  display: flex;
  gap: 20px;
}
.tw-followCard-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}
.tw-followCard-info span {
  opacity: .6;
  font-weight: lighter;
}
.tw-followCard-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tw-followCard-followBtn {
  cursor: pointer;
  padding: 8px 20px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}