.followCards {
  background-color: #16181C;
  width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 1px 1px 15px rgba(255, 255, 255, .15);
}

.followCards > .followCard, .followCards__title {
  padding: 10px 15px;
}

.followCard:last-child {
  border-radius: 0px 0px 16px 16px;
}

.followCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.25s ease-in-out;
}

.followCard:hover {
  background-color: #322f39;
  box-shadow: 1px 1px 15px rgba(255, 255, 255, .10);
}

.followCard__header {
  display: flex;
  gap: 8px;
}

.followCard__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.followCard__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.followCard__username {
  font-size: 16px;
  opacity: .6;
  font-weight: lighter;
}

.followCard__followsYou {
  background-color: #26242c;
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 4px;
  margin-left: 4px;
}

.followCard__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.followCard__button {
  cursor: pointer;
  padding: 8px 20px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

.followCard__button:hover {
  background-color: rgb(237, 237, 237);
}

.followCard__button--following {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, .5);
}

.followCard__button--following:hover {
  background-color: rgba(255, 0, 0, 0.05);
  color: red;
  border: 1px solid red;
}

.followCard__stopFollow {
  display: none;
}