.winner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-bottom-width: 10px;
  padding: 15px;
  border-radius: 10px;
}

.winnerText {
  font-size: 24px;
  text-align: center;
}

.winnerText span {
  font-weight: bold;
}