.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.game {
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.square {
  font-size: 32px;
  display: grid;
  font-weight: 900;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.game .square {
  border: 1px solid black;
  cursor: pointer;
}

.game .square:hover {
  border: 2px solid black;
}

.hover-content {
  opacity: .5;
}

.turn {
  display: flex;
  flex-direction: row;
}

.turn .square {
  transition: .25s ease-in-out background-color;
}

.turn .square--selected {
  background-color: black;
  color: white;
}
